{% extends 'account/base.html' %}
{% block title%}Email Alert{% endblock %}
{% block authentication %}
    <li class="nav-item" style="font-weight: bold;">
      <a class="nav-link" href="{% url 'user:home'%}">Home</a>
    </li>
{% endblock %}
{% load static %}
{% block content %}
<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="w-100" style="max-width: 500px;">
        <div class="shadow p-4 rounded bg-white mx-3 mt-5"> 
            <p>
                If this email is registered, you’ll receive further instructions shortly.</p>
            <p>Please check your email: <a href="mailto:{{email}}"><b>{{email}}</b></a></a>
                to continue.
            </p>
            <p style="font-style: italic;"><br><br><img src="{% static 'account/images/favicon.ico' %}" style="width: 15" height="15"> LinkShort Team</p>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}