{% extends 'account/base.html' %}
{% block title %}Email Verification Failed{% endblock %}
{% block authentication %}
    <li class="nav-item" style="font-weight: bold;">
      <a class="nav-link" href="{% url 'user:home'%}">Home</a>
    </li>
{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="text-center">
        <h1 class="text-danger">Verification Failed</h1>
        <p>Sorry, your email verification link is invalid or has expired.</p>
        
    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}